@charset "UTF-8"


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  

h1{
    color: rgb(26, 197, 77);
}
h1#principal{
    text-align: center;
}
h2{
    color: goldenrod;
}

.basico{
    color:blue ;
}

.intermediario{
  color: rgb(93, 253, 253);
}

.avancado{
color:crimson ;

}

.destaque{
    background-color: rgba(230, 10, 10, 0.363);
}

